<div class="content">

    <div class="div-toobar">
        <p>
            <mat-toolbar>
                <button mat-icon-button class="example-icon">
                    <img src="../../../assets/icons/Valoran-logo-icon.JPG">
                </button>
                <span class="example-spacer"></span>
                <button mat-button class="example-icon">
                    <div class="row mission-div">
                        <mat-icon class="icon-size">schedule</mat-icon>
                        <span>
                            2 / 2
                        </span>
                    </div>
                    <div class="row mission-div">
                        <mat-icon class="icon-size">schedule</mat-icon>
                        <label> 0 / 3</label>
                    </div>
                </button>
                <span class="example-spacer"></span>
                <div class="button-lobby-toolbar">
                    INÍCIO
                </div>
                <span class="example-spacer"></span>
                <div class="div-battlepass button-lobby-toolbar">
                        <span>PASSE DE BATALHA</span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="40"></mat-progress-bar>
                </div>
                <span class="example-spacer"></span>
                <div class="div-battlepass button-lobby-toolbar">
                        <span>AGENTES</span>
                    <mat-progress-bar class="progress-bar" mode="determinate" value="40"></mat-progress-bar>
                </div>
                <div class="div-play">
                    <div class="div-play-text">
                        JOGAR
                    </div>
                    <div class="trapesio">
                    </div>

                </div>
                <div class="button-lobby-toolbar">
                    CARREIRA
                </div>
                <span class="example-spacer"></span>
                <div class="button-lobby-toolbar">
                    COLEÇÃO
                </div>
                <span class="example-spacer"></span>
                <div class="button-lobby-toolbar">
                    LOJA
                </div>
                <span class="example-spacer"></span>
                <button mat-button class="example-icon">
                    <div class="row mission-div">
                        <mat-icon class="icon-size">schedule</mat-icon>
                        <span>
                            2 / 2
                        </span>
                    </div>
                    <div class="row mission-div">
                        <mat-icon class="icon-size">schedule</mat-icon>
                        <label> 0 / 3</label>
                    </div>
                </button>
                <span class="example-spacer"></span>
                <button mat-icon-button class="example-icon bordar-branca">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
                </button>

            </mat-toolbar>
        </p>
    </div>

</div>